html,
body {
  height: 100%;
  line-height: 1.3;
  /*外層高度100%*/
  margin: 0;
}
* {
  &:focus {
    border: 3px dotted gray !important;
  }
}
.wrapper {
  // min-height: calc(100vh - 75px);
  /*外層高度100%*/
  // margin-bottom: -201px;
  /*隨footer高度需做調整*/
}
.footer {
  height: 201px;
  /*設定footer本身高度*/
}
.object-position-center {
  object-position: 50% 50%;
}
.accesskey.content {
  opacity: 0;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: 1;
  color: black;
}
.accesskey.content:focus,
.accesskey.content:focus-within,
.accesskey.content:focus-visible {
  opacity: 1 !important;
}
.my-10 {
  margin: 6rem 0;
}
.el-breadcrumb {
  margin: 2rem 0;
  a,
  .el-breadcrumb__separator,
  .el-breadcrumb__inner,
  .el-breadcrumb__inner.is-link {
    color: white !important;
  }
}
button {
  background-color: transparent;
  border: 0;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media (max-width: 768px) {
  .wrapper {
    // min-height: 100vh;
    /*外層高度100%*/
    // margin-bottom: -160px;
    /*隨footer高度需做調整*/
  }

  .footer {
    height: 160px;
    /*設定footer本身高度*/
  }
}
