@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: white;
}

html,
body {
  height: 100%;
  line-height: 1.3;
  /*外層高度100%*/
  margin: 0;
}

*:focus {
  border: 3px dotted gray !important;
}

.wrapper {
  /*外層高度100%*/
  /*隨footer高度需做調整*/
}

.footer {
  height: 201px;
  /*設定footer本身高度*/
}

.object-position-center {
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.accesskey.content {
  opacity: 0;
  position: absolute;
  left: 2px;
  top: 0;
  z-index: 1;
  color: black;
}

.accesskey.content:focus,
.accesskey.content:focus-within,
.accesskey.content:focus-visible {
  opacity: 1 !important;
}

.my-10 {
  margin: 6rem 0;
}

.el-breadcrumb {
  margin: 2rem 0;
}
.el-breadcrumb a,
.el-breadcrumb .el-breadcrumb__separator,
.el-breadcrumb .el-breadcrumb__inner,
.el-breadcrumb .el-breadcrumb__inner.is-link {
  color: white !important;
}

button {
  background-color: transparent;
  border: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 768px) {
  .wrapper {
    /*外層高度100%*/
    /*隨footer高度需做調整*/
  }
  .footer {
    height: 160px;
    /*設定footer本身高度*/
  }
}
.swiper.swiper-banner {
  height: 50vh;
}

.swiper.swiper-custom .swiper-pagination {
  position: relative;
  margin-top: 5vh;
}

.swiper-button-prev,
.swiper-button-next {
  color: white !important;
}

.swiper-pagination-bullet {
  background-color: white !important;
  opacity: 0.5 !important;
  width: 0.75rem !important;
  height: 0.75rem !important;
  margin: 0 0.5rem !important;
}
.swiper-pagination-bullet:hover, .swiper-pagination-bullet:active {
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  box-shadow: 0 1px 1px white;
}

.sologan-bg-color {
  background-color: rgba(36, 36, 36, 0.452);
}

@media (max-width: 768px) {
  .swiper.swiper-banner {
    height: 20vh;
  }
}
.card-title-area {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.card-title-area h3 {
  font-size: 1.75rem;
  padding-bottom: 1rem;
  font-weight: bolder;
}
.card-title-area p {
  font-size: 1.3rem;
}

.sub-bg {
  background: center/cover no-repeat fixed url("@/assets/images/banner/subBg.png");
  min-height: 30vh;
  position: relative;
}
.sub-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.sub-bg .veefield {
  min-height: 4vh;
  min-width: 20vw;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.marquee-content {
  white-space: nowrap;
  padding: 1rem 6rem;
  letter-spacing: 1px;
  animation: move-rtl 30s linear infinite;
}

@media (max-width: 768px) {
  .marquee-content {
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 10s linear infinite;
  }
}
@keyframes move-rtl {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100vw);
  }
}/*# sourceMappingURL=all.css.map */