.num-btn,
.num-centerbtn {
    color: black;
    text-align: center;
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)!important;
    text-decoration: none;
    cursor: pointer;
}
.num-centerbtn {
    border-right: 0 !important;
    border-left: 0 !important;
    cursor: text;
}