// 卡片標題
.card-title-area {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 3rem;
  h3 {
    font-size: 1.75rem;
    padding-bottom: 1rem;
    font-weight: bolder;
  }
  p {
    font-size: 1.3rem;
  }
}
// 訂閱
.sub-bg {
  background: center / cover no-repeat fixed
    url("@/assets/images/banner/subBg.png");
  min-height: 30vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .veefield {
    min-height: 4vh;
    min-width: 20vw;
  }
}
