.productBanner {
  margin-top: 2vh;
  height: 20vh;
  object-fit: cover;
  border-radius: 5px;
}
.card {
  max-width: 20em;
  margin: 0 auto;
}
.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
